pyrofork
tgcrypto
pyropatch
humanize
motor>=3.7.1
dnspython>=2.6.0
pymongo[srv]>=4.9,<5.0
umongo>=3.0.1
psutil
pytz
Flask>=2.0.0
gunicorn>=21.0.0
Jinja2>=3.1.0
werkzeug>=2.3.0
itsdangerous>=2.1.0
uvicorn[standard]>=0.30.0
fastapi>=0.115.0
